.footer {
    padding: 100px 0 0;
    background-color: #040e27;

    .subscriber {
        border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
        padding-bottom: 50px;

        form {
            display: flex;
            max-width: 800px;
            margin: 0 auto;
            display: flex;

            input {
                width: calc(100% - 140px);
                height: 60px;
                background-color: rgba(255, 255, 255, 1);
                border: 0;
                padding: 0 15px;

            }

            button {
                width: 140px;
                border: 0;
                background-color: $primary-color;
                color: $white;
                font-size: 18px;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    margin-right: 8px;
                }
            }
        }
    }

    .content {
        padding-top: 50px;

        .item {
            h4 {
                color: $white;
                margin-bottom: 20px;

                @media (max-width: 767.98px) {
                    margin-top: 30px;
                }
            }

            a {
                color: #aab1b7;
                transition: $transition;

                &:hover {
                    color: $primary-color;
                }
            }
        }

        .logo {
            img {
                width: 80px;
            }

            p {
                padding-top: 20px;
                color: #aab1b7;
            }

        }
        .location {
            .location {
                li {
                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;
                    color: #aab1b7;
    
                    i {
                        width: 30px;
                    }
                }
            }

            .social {
                display: flex;
                margin-top: 20px;

                li {
                    margin-right: 15px;
                }
            }
        }

        .company {
            ul {
                li {
                    margin-bottom: 10px;
                }
            }
        }

        .destination-link {
            ul {
                display: flex;
                flex-wrap: wrap;

                li {
                    width: 50%;
                    margin-bottom: 10px;
                }
            }
        }

        .instagram {
            ul {
                display: flex;
                flex-wrap: wrap;

                li {
                    padding: 5px;
                    
                    img {
                        border-radius: 5px;
                        width: 100%;
                    }
                }
            }
        }
    }

    .copyright {
        display: flex;
        justify-content: space-between;
        border-top: 1px dashed rgba(255, 255, 255, 0.3);
        margin-top: 30px;
        padding: 20px 0 30px;

        @media (max-width: 767.98px) {
            flex-direction: column-reverse;
            align-items: center;

            .text {
                margin-top: 10px;
            }
        }

        .cards {
            display: flex;
            align-items: center;

            span {
                margin-right: 10px;
            }
    
            ul {
                display: flex;
                align-items: center;
    
                li {
                    margin-left: 10px;

                    img {
                        width: 40px;
                    }

                    @media (max-width: 767.98px) {
                        margin-left: 6px;

                        img {
                            width: 35px;
                        }
                    }
                }
            }
        }
    }

}