.destination {
    padding: 100px 0;

    .section-title {
        margin-bottom: 50px;
    }

    .item {
        margin-bottom: 30px;

        a {
            display: block;
            border-radius: 5px;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: $transition;
            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                background-image: linear-gradient(to bottom,rgba(33, 128, 168, 0) 0%,rgba(33, 128, 168, 0.5) 100%);
                width: 100%;
                height: 100%;
                display: flex;
                align-items: flex-end;

                .content {
                    padding: 30px 30px;
                    display: flex;
                    align-items: center;

                    h4 {
                        color: $white;
                        margin: 0;
                        margin-right: 30px;
                    }

                    span {
                        display: inline-block;
                        padding: 3px 16px;
                        border-radius: 15px;
                        background-color: $secondary-color;
                        color: $white;
                        font-size: 14px;
                        transition: $transition;
                    }
                }
            }

        }

        &:hover {
            img {
                transform: scale(1.1);
            }

            a {
                .overlay {
                   
    
                    .content {    
                        span {
                           background-color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}