.popular-place {
    padding: 100px 0;
    background-color: #F7FAFD;

    .section-title {
        margin-bottom: 50px;

        .diamond img {
            background-color: #F7FAFD !important;
        }
    }

    .single-item {
        background-color: $white;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 30px;
        transition: $transition;

        a {
            display: block;

            .img {
                position: relative;

                img {
                    width: 100%;
                }

                .price {
                    display: inline-block;
                    padding: 3px 16px;
                    border-radius: 15px;
                    background-color: #c3337b;
                    color: #ffffff;
                    font-size: 14px;
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    z-index: 1;
                }
            }

            .text {
                padding: 30px 20px;

                h4 {
                    font-size: 22px;
                    font-weight: 600;
                    line-height: 32px;
                    margin: 0;
                    transition: $transition;
                }

                p {
                    color: $bColor;
                    margin-bottom: 10px;
                }

                .bottom {
                    display: flex;
                    justify-content: space-between;

                    .ratting {
                        display: flex;

                        .stars {
                            display: flex;
                            align-items: center;

                            i {
                                color: $bColor;
                                font-size: 12px;
                                margin-right: 2px;

                                &.active {
                                    color: #fdae5c;
                                }
                            }
                        }
                        .count {
                            span {
                                font-size: 14px;
                                color: $bColor;
                            }
                        }
                    }
                    .time {
                        color: $primary-color;
                    }
                }
            }
        }

        &:hover {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

            a {
                .img {
                    position: relative;
        
                    .price {
                        background-color: $primary-color;
                    }
                }
    
                .text {
                    h4 {
                       color: $primary-color;
                    }
                }
            }
        }
    }
}